<a href="https://colab.research.google.com/github/Tharuna180/PP3-python-/blob/main/lab1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
principal = 7800
rate_of_interest = 7.7
time = 26
interest=(principal * rate_of_interest * time)/100
print("The interest : ",interest)

The interest :  15615.6

In [ ]:
n = int(input("Enter a year : "))
if n%4==0:
  if n%100!=0:
    print("It is a leap year")
elif n%400==0:
  print("It is a leap year")
else:
  print("It is not a leap year")

Enter a year : 2024
It is a leap year

In [ ]:
n=5
for i in range(n,0,-1):
  print('*' * i)

*****
****
***
**
*

In [ ]:
print("1.Addition")
print("2.Subtraction")
print("3.Mulitiplication")
print("4.Division")
n1 = float(input("Enter first number : "))
n2 = float(input("Enter second number : "))
c = int(input("Enter your choice:"))
if(c==1):
  result=n1+n2
  print("result:",result)
elif(c==2):
  result=n1-n2
  print("result:",result)
elif(c==3):
  result=n1*n2
  print("result:",result)
elif(c==4):
  if n2>n1:
    result=n1/n2
  print("result:",result)
else:
  print("Invalid choice")

1.Addition
2.Subtraction
3.Mulitiplication
4.Division
Enter first number : 20
Enter second number : 10
Enter your choice:4
result: 2.0