<a href="https://colab.research.google.com/github/Tharuna180/PP3-python-/blob/main/labex1btuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
emptuple = ()
print(emptuple)

()

In [ ]:
tuple1 = (1,2,3,4,5)
print(tuple1)
tuple2 = (1,'blue',1.1)
print(tuple2)
tuple3 = ("hi",{1:2,4:5},(2,3,4))
print(tuple3)

(1, 2, 3, 4, 5)
(1, 'blue', 1.1)
('hi', {1: 2, 4: 5}, (2, 3, 4))

In [ ]:
tuple11 = 1,'blue',1.1,["hii"]
print(tuple11)
print(type(tuple11))

(1, 'blue', 1.1, ['hii'])
<class 'tuple'>

In [ ]:
tuple11 =("hi")
print(type(tuple11))
tuple11 =("hi",)
print(type(tuple11))
tuple11 ="hi",
print(type(tuple11))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
tuple=("hello","hii","welcome","back")
print(tuple[-2])
print(tuple[-4:-1])
print(tuple[:])

welcome
('hello', 'hii', 'welcome')

In [ ]:
t1 = (0,1,2,3,4,3,4,5,3,4)
t2=('hello','hii','welcome','back','hii','hello')
res=t1.count(2)
print(res)
res=t2.count('hii')
print(res)
res=t1.index(4)
print(res)
res=t2.index('welcome')
print(res)

1
2
4
2

In [ ]:
t2=('hello','hii','welcome','back','hii','hello')
print('hii' in t2)
print('helllo' in t2)
print('hii' not in t2)
print('helllo' not in t2)

True
False
False
True

In [ ]:
t2=('hello','hii','welcome','back','hii','hello')
for item in t2:
  print(item)

hello
hii
welcome
back
hii
hello

In [ ]:
t2=('hello','hii','welcome','back','hii','hello')
print(t2+(4,5,6))

('hello', 'hii', 'welcome', 'back', 'hii', 'hello', 4, 5, 6)
('hello', 'hii', 'welcome', 'back', 'hii', 'hello')

In [ ]:
tuple1= (50,'apple','fruit',5.00)
print(tuple)

<class 'tuple'>

In [ ]:
print(tuple1[1])

veg

In [ ]:
tuple1 = ('fruit','veg','fruit')
a=tuple1.count('fruit')
print(a)

2

In [ ]:
tuple1=('apple','banana','grape','apple')
print(tuple1.index('apple'))

0

In [ ]:
print(tuple1[1:3])

('23', '45')

In [ ]:
tuple1=('50','20','45','34')
list1=list(tuple1)
list1[1]=23
tuple1=tuple(list1)
print(tuple1)

('50', 23, '45', '34')